body {
  width: 100%;
  min-height: 300vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hundred-satisfaction {
  width: 100%;
  aspect-ratio: 16/7;
  overflow: hidden;
  position: relative;
}
.hundred-satisfaction__bg, .hundred-satisfaction__handshake {
  top: 50%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.hundred-satisfaction__lottie {
  top: -3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 46%;
  height: auto;
  aspect-ratio: 1/1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) { /* 1300px */
  .hundred-satisfaction {
    aspect-ratio: 16/12;
  }
  .hundred-satisfaction__wrapper {
    aspect-ratio: 16/12;
  }
  .hundred-satisfaction__bg, .hundred-satisfaction__handshake {
    width: 144%;
  }
  .hundred-satisfaction__lottie {
    top: -1%;
    width: 76%;
  }
}