.blur-effect::before {
  --blur-extent: 0.6px;

  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(var(--blur-extent));
  -webkit-backdrop-filter: blur(var(--blur-extent));
  z-index: 30;
  pointer-events: none;
}

@media screen and (max-width: 81.25rem) { /* 1300px */
  .blur-effect::before {
    --blur-extent: 0.3px;
  }
}