:root {
  --CHOOSE-CHARACTER-SEC-saturated-yellow-btn-color: #fbdd53;
  --CHOOSE-CHARACTER-SEC-lighter-yellow-btn-color: #ede8cd;
  --CHOOSE-CHARACTER-SEC-character-anim-duration: 600;
  --CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration: 200;
}

.choose-character {
  width: 100%;
  aspect-ratio: 16/7;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  font-size: 16px;
}
@media screen and (max-width: 81.25rem) {
  .choose-character { /* 1300px */
    aspect-ratio: 16/36;
  }
}
.choose-character__wrapper {
  aspect-ratio: 16/8;
}
@media screen and (max-width: 81.25rem) {
  .choose-character__wrapper { /* 1300px */
    aspect-ratio: 16/36;
  }
}
.choose-character__radial-dark-shadow {
  inset: 0;
  background-image: radial-gradient(transparent 40%, #000000);
}
@media screen and (max-width: 81.25rem) {
  .choose-character__radial-dark-shadow { /* 1300px */
    display: none;
  }
}
.choose-character__bg-mobile {
  inset: 0;
  display: none;
}
@media screen and (max-width: 81.25rem) {
  .choose-character__bg-mobile { /* 1300px */
    display: block;
  }
}
.choose-character__bg {
  display: block;
  inset: 0;
}
@media screen and (max-width: 81.25rem) {
  .choose-character__bg { /* 1300px */
    display: none;
  }
}
.choose-character__bg > * {
  position: absolute;
}
.choose-character__bg-very-back {
  top: 0;
  right: 5%;
  left: 5%;
  bottom: 30%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.choose-character__bg-stage {
  bottom: -3%;
  right: 0;
  left: 0;
}
.choose-character__bg-vertical-curtains {
  width: 104%;
  left: 50%;
  margin-left: -52%;
  top: -8%;
  right: 0;
}
.choose-character__bg-pieces-of-horizontal-curtains, .choose-character__bg-very-left-and-right-horizontal-curtains, .choose-character__bg-left-and-right-horizontal-curtains, .choose-character__bg-centered-horizontal-curtains {
  top: 5%;
}
.choose-character__bg-left-box {
  width: 11%;
  bottom: 25%;
  left: 5%;
}
.choose-character__bg-right-boxes {
  width: 15%;
  bottom: 23%;
  right: 4%;
}
.choose-character__lottie {
  width: 46%;
  top: -21.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 81.25rem) {
  .choose-character__lottie { /* 1300px */
    width: 100%;
    top: -40%;
  }
}
.choose-character__characters-container {
  width: 100%;
  height: 90%;
  bottom: 2%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
@media screen and (max-width: 81.25rem) {
  .choose-character__characters-container { /* 1300px */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: -1%;
    gap: 0;
  }
}
.choose-character .character-representation {
  width: 18%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation { /* 1300px */
    width: 100%;
    overflow: initial;
  }
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--left { /* 1300px */
    height: 27%;
  }
}
.choose-character .character-representation--left .character-representation__image-wrapper {
  width: 55%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--left .character-representation__image-wrapper { /* 1300px */
    width: 34%;
    --bottom-distance: -15%;
    left: 51%;
  }
}
.choose-character .character-representation--center {
  width: 20%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--center { /* 1300px */
    width: 100%;
    height: 42%;
    z-index: 3;
  }
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--center.priority:hover .character-representation__image-wrapper, .choose-character .character-representation--center.priority.highlight .character-representation__image-wrapper { /* 1300px */
    --bottom-distance: -5%;
  }
}
.choose-character .character-representation--center .character-representation__image-wrapper {
  width: 95%;
  --bottom-distance: -1.5%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--center .character-representation__image-wrapper { /* 1300px */
    width: 48%;
    --bottom-distance: -10%;
  }
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--center .character-representation__link-wrapper { /* 1300px */
    height: 24%;
  }
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--center .character-representation__image-container { /* 1300px */
    height: 76%;
  }
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--right { /* 1300px */
    height: 27%;
  }
}
.choose-character .character-representation--right .character-representation__image-wrapper {
  width: 62%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation--right .character-representation__image-wrapper { /* 1300px */
    width: 38%;
    --bottom-distance: -15%;
    left: 49%;
  }
}
.choose-character .character-representation:hover .character-representation__light, .choose-character .character-representation.highlight .character-representation__light {
  opacity: 0.2;
}
.choose-character .character-representation:hover .character-representation__image-wrapper, .choose-character .character-representation.highlight .character-representation__image-wrapper {
  -webkit-transform: translateX(var(--translate-x)) scale(1.05);
          transform: translateX(var(--translate-x)) scale(1.05);
  --bottom-distance: 3%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation:hover .character-representation__image-wrapper, .choose-character .character-representation.highlight .character-representation__image-wrapper { /* 1300px */
    --bottom-distance: -5%;
  }
}
.choose-character .character-representation:hover .character-representation__image-wrapper .character-representation__image--static-anim, .choose-character .character-representation.highlight .character-representation__image-wrapper .character-representation__image--static-anim {
  display: none;
}
.choose-character .character-representation:hover .character-representation__image-wrapper .character-representation__image--on-hover-anim, .choose-character .character-representation.highlight .character-representation__image-wrapper .character-representation__image--on-hover-anim {
  display: inline-block;
  width: 1000%;
  -webkit-animation: animate-character calc(var(--CHOOSE-CHARACTER-SEC-character-anim-duration) * 1ms) steps(10) infinite;
          animation: animate-character calc(var(--CHOOSE-CHARACTER-SEC-character-anim-duration) * 1ms) steps(10) infinite;
}
.choose-character .character-representation:hover .character-representation__link, .choose-character .character-representation.highlight .character-representation__link {
  background-color: var(--CHOOSE-CHARACTER-SEC-lighter-yellow-btn-color);
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}
.choose-character .character-representation__light {
  position: absolute;
  width: 48%;
  opacity: 0.08;
  pointer-events: none;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light { /* 1300px */
    width: 76%;
  }
}
.choose-character .character-representation__light-image-desktop {
  display: block;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light-image-desktop { /* 1300px */
    display: none;
  }
}
.choose-character .character-representation__light-image-mobile {
  display: none;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light-image-mobile { /* 1300px */
    display: block;
  }
}
.choose-character .character-representation__light--left {
  left: -2%;
  top: 0;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light--left { /* 1300px */
    top: -30%;
    left: -1%;
  }
}
.choose-character .character-representation__light--center {
  top: 0;
  left: 50%;
  width: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light--center { /* 1300px */
    width: 76%;
    top: 10%;
    left: 62%;
  }
}
.choose-character .character-representation__light--right {
  right: -2%;
  top: -3%;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__light--right { /* 1300px */
    top: 38%;
    left: -1%;
  }
}
.choose-character .character-representation__image-container {
  height: 87%;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__image-container { /* 1300px */
    height: 65%;
  }
}
.choose-character .character-representation__image-wrapper {
  --translate-x: -50%;
  --bottom-distance: 0%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: bottom, transform;
  position: absolute;
  bottom: var(--bottom-distance);
  left: 50%;
  -webkit-transform: translateX(var(--translate-x)) scale(1);
          transform: translateX(var(--translate-x)) scale(1);
  width: 60%;
  height: auto;
  overflow: hidden;
  -webkit-transition: bottom calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease, -webkit-transform calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease;
  transition: bottom calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease, -webkit-transform calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease;
  transition: transform calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease, bottom calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease;
  transition: transform calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease, bottom calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease, -webkit-transform calc(var(--CHOOSE-CHARACTER-SEC-character-enlarging-transition-duration) * 1ms) ease;
}
.choose-character .character-representation__image {
  --translate-y: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.choose-character .character-representation__image--static-anim {
  display: inline-block;
  width: 1200%;
  -webkit-animation: animate-character calc(var(--CHOOSE-CHARACTER-SEC-character-anim-duration) * 1ms) steps(12) infinite;
          animation: animate-character calc(var(--CHOOSE-CHARACTER-SEC-character-anim-duration) * 1ms) steps(12) infinite;
}
.choose-character .character-representation__image--on-hover-anim {
  display: none;
}
.choose-character .character-representation__link-wrapper {
  height: 13%;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__link-wrapper { /* 1300px */
    height: 35%;
  }
}
.choose-character .character-representation__link {
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 11em;
  border: 2px solid #000000;
  color: #000000;
  background-color: var(--CHOOSE-CHARACTER-SEC-saturated-yellow-btn-color);
  font-family: "LEMON MILK";
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.6em;
  padding: 0.7em 0;
  border-radius: 9999px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform, background-color;
}
@media screen and (max-width: 81.25rem) {
  .choose-character .character-representation__link { /* 1300px */
    font-size: 3vw;
    top: 50%;
  }
}
.choose-character .character-representation__link:hover, .choose-character .character-representation__link:focus {
  background-color: var(--CHOOSE-CHARACTER-SEC-lighter-yellow-btn-color);
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}

@-webkit-keyframes animate-character {
  0% {
    -webkit-transform: translateX(0) translateY(var(--translate-y, 0));
            transform: translateX(0) translateY(var(--translate-y, 0));
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(var(--translate-y, 0));
            transform: translateX(-100%) translateY(var(--translate-y, 0));
  }
}

@keyframes animate-character {
  0% {
    -webkit-transform: translateX(0) translateY(var(--translate-y, 0));
            transform: translateX(0) translateY(var(--translate-y, 0));
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(var(--translate-y, 0));
            transform: translateX(-100%) translateY(var(--translate-y, 0));
  }
}