.footer {
  --picture-width: 240px;
  width: 100%;
  background-color: #000000;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(50%, rgb(0, 0, 0)), color-stop(62%, hsla(0, 100%, 50%, 0.3)), color-stop(78%, hsla(60, 100%, 50%, 0.3)));
  background-image: linear-gradient(to bottom left, rgb(0, 0, 0) 50%, hsla(0, 100%, 50%, 0.3) 62%, hsla(60, 100%, 50%, 0.3) 78%);
  background-size: 200% 200%;
  font-size: 16px;
  font-family: "Helvetica Now", sans-serif;
  -webkit-transition: background-image 50ms linear;
  transition: background-image 50ms linear;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .footer {
    --picture-width: 200px;
  }
}
.footer__wrapper {
  width: min(100%, 1500px);
  margin: 0 auto;
  color: #ffffff;
}
.footer__content-panels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-inline: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .footer__content-panels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer__content-panels {
    padding-inline: 1em;
  }
}
.footer__content-panel--right {
  width: 40%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .footer__content-panel--right {
    width: 100%;
    height: var(--picture-width);
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  .footer__content-panel--right {
    margin-bottom: 0;
  }
}
.footer__content-panel--left {
  width: 60%;
  padding-block: 1.25em;
}
@media screen and (max-width: 768px) {
  .footer__content-panel--left {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer__content-panel--left {
    padding-bottom: 0;
  }
}
.footer__content-panel--credits {
  width: 100%;
  text-align: center;
  color: #a1a1a1;
  margin-bottom: 2em;
  font-size: 0.625em;
}
.footer__logo {
  display: block;
  width: 10em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  -webkit-transform: translateX(-0.5em);
          transform: translateX(-0.5em);
  scale: 1;
  -webkit-transition: scale 300ms ease;
  transition: scale 300ms ease;
}
.footer__logo:hover, .footer__logo:focus-visible {
  scale: 1.1;
}
.footer__nav-list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.8em 3.5em;
  margin-bottom: 3em;
}
@media screen and (max-width: 480px) {
  .footer__nav-list {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 350px) {
  .footer__nav-list {
    grid-template-columns: repeat(1, auto);
  }
}
.footer__nav-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 600;
}
.footer__nav-link:link, .footer__nav-link:active, .footer__nav-link:visited {
  color: #ffffff;
}
.footer__nav-link:hover, .footer__nav-link:focus-visible {
  text-decoration: underline;
}
.footer__dynamic-img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: var(--picture-width);
  height: auto;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  opacity: 0;
}
.footer__dynamic-img.fade-in {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .footer__dynamic-img {
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
.footer__wonderful-credits, .footer__shopify-credits {
  color: #a1a1a1;
  text-decoration: none;
}
.footer__wonderful-credits:link, .footer__wonderful-credits:active, .footer__wonderful-credits:visited, .footer__shopify-credits:link, .footer__shopify-credits:active, .footer__shopify-credits:visited {
  color: #a1a1a1;
}
.footer__wonderful-credits:focus-visible, .footer__shopify-credits:focus-visible {
  text-decoration: underline;
}