.graphic-section::before, .graphic-section::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #000000;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #000000;
}
.graphic-section::before {
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.graphic-section::after {
  bottom: 0;
}
.graphic-section img {
  display: block;
  width: 100%;
  height: 100%;
}
.graphic-section__wrapper {
  width: 100%;
  aspect-ratio: 16/7;
  position: relative;
}
.graphic-section__wrapper > * {
  position: absolute;
}