body {
  width: 100%;
  height: 300vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.heavenly-flavors {
  width: 100%;
  aspect-ratio: 16/7;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 81.25rem) {
  .heavenly-flavors { /* 1300px */
    aspect-ratio: 16/36;
  }
}
@media screen and (max-width: 81.25rem) {
  .heavenly-flavors__wrapper { /* 1300px */
    aspect-ratio: 16/36;
  }
}
.heavenly-flavors::after {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.heavenly-flavors__bg {
  inset: 0;
}
@media screen and (max-width: 81.25rem) {
  .heavenly-flavors__bg { /* 1300px */
    width: 300%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.heavenly-flavors__clouds-below-pedestal {
  bottom: 0;
  width: 100%;
}
.heavenly-flavors__lottie-container {
  top: -28%;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.heavenly-flavors__pedestal {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 60%;
}
@media screen and (max-width: 81.25rem) {
  .heavenly-flavors__pedestal { /* 1300px */
    display: none;
  }
}
.heavenly-flavors__pedestal-row {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.heavenly-flavors__pedestal-row--further {
  top: 0;
  left: 0;
  width: 100%;
}
.heavenly-flavors__pedestal-row--closer {
  top: 22%;
  left: 13%;
  width: 74%;
}
.heavenly-flavors__pedestal-column {
  position: relative;
}
.heavenly-flavors__pedestal-column--further {
  width: 19%;
}
.heavenly-flavors__pedestal-column--closer {
  width: 26%;
}
.heavenly-flavors__pedestal-column-character {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 80.5%;
  display: none;
}
.heavenly-flavors__pedestal-column-character--marshmallow {
  display: block;
  width: 92%;
  left: 68%;
  -webkit-transform: translateX(-50%) translateY(2%);
          transform: translateX(-50%) translateY(2%);
}
.heavenly-flavors__pedestal-column-character--strawberry {
  display: block;
  width: 65%;
  left: 54%;
}
.heavenly-flavors__pedestal-column-character--mint {
  display: block;
  width: 94%;
  left: 50%;
}
.heavenly-flavors__pedestal-column-character--chocolate {
  display: block;
  width: 84%;
  left: 36%;
}
.heavenly-flavors__pedestal-column-character--bubblegum {
  display: block;
  width: 60%;
  left: 49%;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
}
.heavenly-flavors__pedestal-column-character--plain {
  display: block;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(6%);
          transform: translateX(-50%) translateY(6%);
}
.heavenly-flavors__pedestal-column-character--smores {
  display: block;
  width: 100%;
  left: 64%;
  -webkit-transform: translateX(-50%) translateY(2%);
          transform: translateX(-50%) translateY(2%);
}
.heavenly-flavors__pedestal-column-pillar {
  width: 100%;
  margin-top: 60%;
}