body {
  width: 100%;
  min-height: 300vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-we-are-different {
  width: 100%;
  aspect-ratio: 16/7;
  overflow: hidden;
  position: relative;
}
.how-we-are-different::before, .how-we-are-different::after {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.how-we-are-different__bg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.how-we-are-different__drawn-differences, .how-we-are-different__written-differences, .how-we-are-different__highlights, .how-we-are-different__title-flag {
  top: 50%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65.6%;
  height: auto;
}
.how-we-are-different__highlights {
  aspect-ratio: 16/8;
}
.how-we-are-different__highlights-highlight {
  position: absolute;
  width: 36%;
}
.how-we-are-different__highlights-highlight--left {
  top: 26.5%;
  left: 5%;
}
.how-we-are-different__highlights-highlight--center {
  top: 26.5%;
  left: 32%;
}
.how-we-are-different__highlights-highlight--right {
  top: 26.5%;
  left: 59%;
}
.how-we-are-different__lottie {
  top: -23.5%;
  left: 48.7%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48%;
}
.how-we-are-different__character-circles {
  left: 0;
  right: 0;
  bottom: 0;
  top: 20%;
  display: none;
}
.how-we-are-different__character-circle {
  --title-translate-x: 0%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: auto;
}
.how-we-are-different__character-circle-title {
  -webkit-transform: translate(var(--title-translate-x), -46%);
          transform: translate(var(--title-translate-x), -46%);
}
.how-we-are-different__character-circle--top {
  top: 0;
  --title-translate-x: -2%;
}
.how-we-are-different__character-circle--middle {
  top: 31.5%;
}
.how-we-are-different__character-circle--bottom {
  width: 32%;
  top: 62%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
}
.how-we-are-different__character-circle--bottom .how-we-are-different__character-circle-title {
  width: 110%;
  -webkit-transform: translate(-4.5%, -58%);
          transform: translate(-4.5%, -58%);
}

@-webkit-keyframes rotate-hwad-highlights {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-hwad-highlights {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) { /* 1300px */
  .how-we-are-different {
    aspect-ratio: 16/28;
  }
  .how-we-are-different__wrapper {
    aspect-ratio: 16/28;
  }
  .how-we-are-different__bg {
    height: 100%;
    width: auto;
    aspect-ratio: 16/28;
  }
  .how-we-are-different__drawn-differences, .how-we-are-different__written-differences, .how-we-are-different__highlights {
    display: none;
  }
  .how-we-are-different__title-flag {
    top: 34%;
    top: 22%;
    width: 130%;
  }
  .how-we-are-different__lottie {
    top: -22.5%;
    top: -40%;
    width: 94%;
  }
  .how-we-are-different__character-circles {
    display: block;
  }
}