.kids-love-taste {
  width: 100%;
  height: auto;
  aspect-ratio: 16/7.5;
  overflow: hidden;
  position: relative;
}
.kids-love-taste::before {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.kids-love-taste__wrapper {
  position: absolute;
  bottom: -6%;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.kids-love-taste__lottie {
  top: -22%;
  left: 47%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 40%;
}
.kids-love-taste__bg, .kids-love-taste__clouds, .kids-love-taste__sea, .kids-love-taste__beach, .kids-love-taste__female-dentist {
  inset: 0;
}
.kids-love-taste__sun {
  left: -5%;
  top: -14%;
  width: 56%;
}
.kids-love-taste__angles-blue {
  width: 90%;
  left: 2%;
  top: 6%;
}
.kids-love-taste__stick {
  width: 90%;
  right: 0;
  top: 8.5%;
}
.kids-love-taste__boy, .kids-love-taste__girl, .kids-love-taste__female-dentist {
  bottom: 2%;
  width: 90%;
  margin-left: 5%;
}
.kids-love-taste__boy {
  margin-left: 7%;
}
.kids-love-taste__female-dentist {
  margin-left: 9%;
}
.kids-love-taste__mint {
  bottom: 6%;
  width: 90%;
  left: 1%;
}
.kids-love-taste__prophy {
  bottom: 6%;
  right: 0;
  width: 90%;
}
.kids-love-taste__bg, .kids-love-taste__clouds {
  position: absolute;
  top: 14%;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.kids-love-taste__inner-box-shadow {
  position: absolute;
  inset: 0;
  -webkit-box-shadow: inset 0 0 3vw 0.03vw #3E2406;
          box-shadow: inset 0 0 3vw 0.03vw #3E2406;
}