.kids-love-taste {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}
.kids-love-taste__wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.kids-love-taste__lottie {
  top: -30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 46%;
}
.kids-love-taste__bg, .kids-love-taste__clouds, .kids-love-taste__beach, .kids-love-taste__boy, .kids-love-taste__girl, .kids-love-taste__female-dentist {
  inset: 0;
}
.kids-love-taste__inner-box-shadow {
  position: absolute;
  inset: 0;
  -webkit-box-shadow: inset 0 0 3vw 0.03vw #3E2406;
          box-shadow: inset 0 0 3vw 0.03vw #3E2406;
}