.kids-love-taste {
  width: 100%;
  height: auto;
  aspect-ratio: 16/7.5;
  overflow: hidden;
  position: relative;
}
.kids-love-taste::before {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.kids-love-taste__wrapper {
  position: absolute;
  bottom: -6%;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.kids-love-taste__lottie {
  top: -21%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 40%;
}
.kids-love-taste__beach {
  inset: 0;
}
.kids-love-taste__sea {
  width: 124%;
  left: -33%;
  right: 0;
  bottom: -2%;
}
.kids-love-taste__birds {
  width: 90%;
  left: 5%;
  top: 2%;
}
.kids-love-taste__sun {
  left: -5%;
  top: -14%;
  width: 56%;
}
.kids-love-taste__angles-blue {
  width: 90%;
  left: 2%;
  top: 6%;
}
.kids-love-taste__stick--front {
  display: none;
  width: 100%;
  right: 15%;
  top: -3%;
}
.kids-love-taste__stick--back {
  width: 90%;
  right: 0;
  top: 8.5%;
}
.kids-love-taste__piece-of-palm {
  display: none;
  right: 10%;
  top: 18%;
  width: 20%;
}
.kids-love-taste__boy, .kids-love-taste__girl, .kids-love-taste__female-dentist {
  bottom: 2%;
  width: 90%;
  margin-left: 5%;
}
.kids-love-taste__boy {
  margin-left: 7%;
}
.kids-love-taste__female-dentist {
  margin-left: 9%;
}
.kids-love-taste__mint {
  bottom: 6%;
  width: 90%;
  left: 1%;
}
.kids-love-taste__prophy {
  bottom: 6%;
  right: 0;
  width: 90%;
}
.kids-love-taste__stick, .kids-love-taste__boy, .kids-love-taste__girl, .kids-love-taste__female-dentist, .kids-love-taste__mint, .kids-love-taste__prophy {
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}
.kids-love-taste__bg, .kids-love-taste__clouds {
  position: absolute;
  top: 14%;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.kids-love-taste__inner-box-shadow {
  position: absolute;
  inset: 0;
  -webkit-box-shadow: inset 0 0 3vw 0.03vw #3E2406;
          box-shadow: inset 0 0 3vw 0.03vw #3E2406;
}

/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) { /* 1300px */
  .kids-love-taste {
    aspect-ratio: 16/12;
  }
  .kids-love-taste__wrapper {
    width: 160%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .kids-love-taste__bg, .kids-love-taste__clouds {
    top: 16%;
    width: 140%;
    aspect-ratio: 16/8;
  }
  .kids-love-taste__clouds {
    top: 6%;
    right: 16%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .kids-love-taste__sun, .kids-love-taste__prophy {
    display: none;
  }
  .kids-love-taste__boy, .kids-love-taste__girl, .kids-love-taste__female-dentist {
    bottom: 2%;
    width: 80%;
    margin-left: 10%;
  }
  .kids-love-taste__sea {
    width: 124%;
    left: -30%;
    right: auto;
    bottom: -10%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .kids-love-taste__angles-blue {
    width: 80%;
    left: 0%;
    top: 24%;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  .kids-love-taste__stick--back {
    display: none;
  }
  .kids-love-taste__stick--front {
    display: block;
  }
  .kids-love-taste__piece-of-palm {
    display: block;
  }
  .kids-love-taste__birds {
    width: 80%;
    left: 6%;
    top: 4%;
  }
  .kids-love-taste__mint {
    bottom: 2%;
    width: 78%;
    left: 13%;
  }
  .kids-love-taste__lottie {
    top: -17%;
  }
}