.loyalty-rewards {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #FF3518;
}
.loyalty-rewards::before, .loyalty-rewards::after {
  display: none;
}
.loyalty-rewards__wrapper {
  width: min(68.75rem, 100%);
  height: 100%;
  margin: 0 auto;
}
.loyalty-rewards .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}

.lr-hero {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/7;
  overflow: hidden;
  margin-bottom: 2%;
}
.lr-hero__wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  top: 56%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.lr-hero__sup-title, .lr-hero__main-title, .lr-hero__subtitle, .lr-hero__shiny-diamond {
  position: absolute;
  width: 100%;
  left: 0;
}
.lr-hero__sup-title, .lr-hero__main-title, .lr-hero__subtitle {
  margin-top: 1rem;
}

.lr-main {
  width: 100%;
  height: auto;
  aspect-ratio: 16/54;
  overflow: hidden;
  background-image: url("../images/lr-main-bg-wallpaper.webp");
  background-size: 100% 100%;
  padding-inline: 10%;
  padding-top: 4%;
  padding-bottom: 9%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.lr-main__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.lr-main__divider {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/2.3;
}
.lr-main__divider-wrapper {
  position: absolute;
  width: 136%;
  left: -18%;
  top: -140%;
}

.lr-side-by-side-list {
  width: 100%;
  height: auto;
  font-family: "Coffee Time", cursive;
  color: #4e1e17;
  font-size: min(1.925rem, 2.8vw);
}
.lr-side-by-side-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6em;
  padding-bottom: 0.5em;
}
.lr-side-by-side-list__row:last-child {
  padding-bottom: 0;
}
.lr-side-by-side-list__row--header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lr-side-by-side-list__column--dots {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}
.lr-side-by-side-list__column--dots::before {
  content: ".......................................................................................................................................................................................................................................................................................................";
  position: absolute;
  inset: 0;
}

.lr-earn-loyalty-rewards {
  width: 100%;
  height: auto;
  padding-top: 2.5%;
}
.lr-earn-loyalty-rewards__header {
  width: 100%;
  height: auto;
  aspect-ratio: 16/2;
  position: relative;
}
.lr-earn-loyalty-rewards__main-title {
  position: absolute;
  top: -230%;
  width: 130%;
  margin-left: -15%;
  margin-top: 3%;
}
.lr-earn-loyalty-rewards__subtitle {
  position: absolute;
  top: -230%;
  width: 129%;
  margin-left: -15%;
  margin-top: 3%;
}
.lr-earn-loyalty-rewards__main {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 4%;
  padding-right: 5.4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding-block: 5%;
}
.lr-earn-loyalty-rewards__main-wrapper {
  width: 100%;
  height: auto;
}
.lr-earn-loyalty-rewards__footer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/3;
  position: relative;
}
.lr-earn-loyalty-rewards__footer-candy, .lr-earn-loyalty-rewards__footer-candy-caption {
  position: absolute;
  top: -122%;
  left: -15%;
  width: 130%;
}

.lr-direct-selling-only {
  position: relative;
  width: 134%;
  aspect-ratio: 16/9;
  background-image: url("../images/lr-direct-selling-only-divider.webp");
  background-size: cover;
  margin-left: -17%;
  margin-top: -10%;
}
.lr-direct-selling-only__title, .lr-direct-selling-only__drawing-of-shipping {
  position: absolute;
  width: 94%;
  margin-left: 3%;
}
.lr-direct-selling-only__title {
  top: -13%;
}
.lr-direct-selling-only__drawing-of-shipping {
  top: 11%;
}

.lr-skip-supply-house {
  width: 100%;
  height: auto;
  aspect-ratio: 16/4;
  position: relative;
}
.lr-skip-supply-house__bpbi-border, .lr-skip-supply-house__bpbi, .lr-skip-supply-house__skip-caption, .lr-skip-supply-house__tsh-caption, .lr-skip-supply-house__super-tasty-caption, .lr-skip-supply-house__smile {
  top: -96%;
  position: absolute;
  width: 126%;
  left: -13%;
}

.lr-earning-points {
  width: 100%;
  height: auto;
}
.lr-earning-points__header {
  width: 100%;
  height: auto;
  aspect-ratio: 16/2.4;
  position: relative;
}
.lr-earning-points__main-title {
  position: absolute;
  top: -58%;
  width: 130%;
  margin-left: -15%;
  margin-top: 3%;
}
.lr-earning-points__subtitle {
  position: absolute;
  top: 20%;
  width: 129%;
  margin-left: -15%;
  margin-top: 3%;
}
.lr-earning-points__main {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 5.4%;
  padding-right: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding-block: 2.5% 6%;
}
.lr-earning-points__main-wrapper {
  width: 100%;
  height: auto;
}
.lr-earning-points__footer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/7;
  position: relative;
}
.lr-earning-points__footer-other-ways-to-earn-points, .lr-earning-points__footer-smile-points-caption, .lr-earning-points__footer-arrow-down, .lr-earning-points__footer-arrow-additions {
  position: absolute;
  width: 130%;
  margin-left: -15%;
}
.lr-earning-points__footer-other-ways-to-earn-points {
  top: -20%;
}
.lr-earning-points__footer-smile-points-caption {
  top: -18%;
}
.lr-earning-points__footer-arrow-down, .lr-earning-points__footer-arrow-additions {
  top: 26%;
}

.lr-take-actions {
  width: 100%;
  height: auto;
  position: relative;
}
.lr-take-actions__title {
  width: 100%;
  height: auto;
  aspect-ratio: 16/4.4;
  position: relative;
  margin-top: 2%;
}
.lr-take-actions__title-wrapper {
  position: absolute;
  width: 124%;
  margin-left: -12%;
  height: auto;
  top: -46%;
}
.lr-take-actions__actions {
  position: relative;
  font-family: "Coffee Time", cursive;
  color: #4e1e17;
  width: 100%;
  height: auto;
  aspect-ratio: 16/6.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: min(1.58125rem, 2.3vw);
}
.lr-take-actions__actions-link {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  padding-block: 0.6em;
  margin: 0.5em;
  background-color: transparent;
  border: 0.2em solid currentColor;
  text-decoration: none;
  text-align: center;
  width: 36%;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media screen and (max-width: 68.75rem) {
  .lr-take-actions__actions-link {
    padding-block: 0.8em;
  }
}
.lr-take-actions__actions-link:hover, .lr-take-actions__actions-link:focus {
  background-color: #4e1e17;
  color: #ffc28a;
  border-color: #4e1e17;
}
.lr-take-actions__steps-to-success {
  position: absolute;
  width: 130%;
  left: -13%;
  top: 29%;
}
.lr-take-actions__made-in-usa {
  position: absolute;
  width: 130%;
  left: -15%;
  top: 52%;
}

.lr-footer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/2;
  position: relative;
}
.lr-footer__wonderful-caption {
  position: absolute;
  top: -20%;
  left: -2%;
}