body {
  width: 100%;
  height: 300vh;
  margin: 0;
}

:root {
  --MEET-THE-FAMILY-SEC-flashing-animations-duration: 600; /* ms */
  --MEET-THE-FAMILY-SEC-sun-moving-animation-duration: 12000; /* ms */
}

.meet-family {
  width: 100%;
  aspect-ratio: 16/7.5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #519fff;
  position: relative;
}
.meet-family::before, .meet-family::after {
  display: none;
}
.meet-family__wrapper {
  width: 100%;
  aspect-ratio: 16/8;
  position: relative;
}
.meet-family__load-characters-beforehand {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100%;
}
.meet-family__load-characters-beforehand-character {
  position: absolute;
  height: 50%;
}
.meet-family__greenery {
  bottom: -3%;
  left: 0;
  width: 105%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}
.meet-family__greenery-addition {
  top: 6%;
  left: 0;
  width: 100%;
}
.meet-family__greenery-addition-piece {
  position: absolute;
  width: 100%;
}
.meet-family__greenery-addition-piece--left {
  left: -1%;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}
.meet-family__greenery-addition-piece--middle {
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-4%);
          transform: translateX(-50%) translateY(-4%);
}
.meet-family__greenery-addition-piece--right {
  right: -2%;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}
.meet-family__sky {
  left: 0;
  top: -8%;
  width: 100%;
  height: auto;
}
.meet-family__bg-foggy-mountains {
  top: -11%;
  left: 0;
  width: 100%;
  height: auto;
}
.meet-family__clouds {
  inset: 0;
}
.meet-family__clouds-piece-1, .meet-family__clouds-piece-2 {
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: auto;
}
.meet-family__sun {
  position: relative;
  width: 250%;
  top: 252%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-animation: rotate90 calc(var(--MEET-THE-FAMILY-SEC-sun-moving-animation-duration) * 1ms) linear infinite forwards;
          animation: rotate90 calc(var(--MEET-THE-FAMILY-SEC-sun-moving-animation-duration) * 1ms) linear infinite forwards;
}
.meet-family__sun-image {
  position: absolute;
  left: 0;
  top: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-shadow: 0 0 2.2vw 1.8vw #ffcd44;
          box-shadow: 0 0 2.2vw 1.8vw #ffcd44;
  -webkit-animation: rotateSun calc(var(--MEET-THE-FAMILY-SEC-sun-moving-animation-duration) * 1ms) linear infinite forwards;
          animation: rotateSun calc(var(--MEET-THE-FAMILY-SEC-sun-moving-animation-duration) * 1ms) linear infinite forwards;
}
.meet-family__sun-image.override-standard-image-stylings {
  width: 4.5%;
  height: auto;
}
.meet-family__flash-bg {
  inset: 0;
  background-color: #ffffff;
  opacity: 0;
}
.meet-family__flash-bg.flash {
  -webkit-animation: bg-flash calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
          animation: bg-flash calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
}
.meet-family__camera {
  bottom: -28%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 62%;
}
.meet-family__camera-flash {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 41%;
  opacity: 0;
}
.meet-family__camera-flash.flash {
  -webkit-animation: camera-flash calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
          animation: camera-flash calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
}
.meet-family__hand {
  bottom: -4%;
  left: 75.5%;
  width: 25%;
  cursor: pointer;
}
.meet-family__hand.pull-trigger {
  -webkit-animation: pull-the-trigger calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
          animation: pull-the-trigger calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
}
.meet-family__lottie-animation {
  right: -18%;
  top: -23%;
  width: 90%;
  aspect-ratio: 16/8;
}
.meet-family__lottie-animation svg {
  position: absolute;
  inset: 0;
}
.meet-family__characters-scene {
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 50%;
}
.meet-family__character {
  position: absolute;
  width: 0.4%;
  aspect-ratio: 1/1;
  --character-width: 5500;
}
.meet-family__character.invisible {
  visibility: hidden;
}
.meet-family__character.flash {
  -webkit-animation: flash-characters calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
          animation: flash-characters calc(var(--MEET-THE-FAMILY-SEC-flashing-animations-duration) * 1ms) linear forwards;
}
.meet-family__character--heart {
  --character-width: 5500;
}
.meet-family__character--girl {
  --character-width: 5800;
}
.meet-family__character--male-dentist {
  --character-width: 5500;
}
.meet-family__character--bubblegum {
  --character-width: 5500;
}
.meet-family__character--mint {
  --character-width: 5500;
}
.meet-family__character--chocolate {
  --character-width: 5500;
}
.meet-family__character--cone {
  --character-width: 5500;
}
.meet-family__character--cherry {
  --character-width: 5500;
}
.meet-family__character--boy {
  --character-width: 5800;
}
.meet-family__character--female-dentist {
  --character-width: 5500;
}
.meet-family__character--marshmallow {
  --character-width: 6000;
}
.meet-family__character--strawberry {
  --character-width: 5500;
}
.meet-family__character--hygienist {
  --character-width: 5500;
}
.meet-family__character--smore {
  --character-width: 5500;
}
.meet-family__character--plain {
  --character-width: 4300;
}
.meet-family__character[data-position=very-very-left-closer] {
  left: 16.5%;
  bottom: 37%;
}
.meet-family__character[data-position=very-very-left-further] {
  left: 9.5%;
  bottom: 54%;
}
.meet-family__character[data-position=very-left-closer] {
  left: 28%;
  bottom: 45%;
}
.meet-family__character[data-position=very-left-further] {
  left: 21%;
  bottom: 62%;
}
.meet-family__character[data-position=left-closer] {
  left: 39.5%;
  bottom: 49%;
}
.meet-family__character[data-position=left-further] {
  left: 33.5%;
  bottom: 69.5%;
}
.meet-family__character[data-position=center] {
  left: 46%;
  bottom: 77%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.meet-family__character[data-position=right-further] {
  left: 58.5%;
  bottom: 69.5%;
}
.meet-family__character[data-position=right-closer] {
  left: 52.5%;
  bottom: 49%;
}
.meet-family__character[data-position=very-right-further] {
  left: 71%;
  bottom: 62%;
}
.meet-family__character[data-position=very-right-closer] {
  left: 64%;
  bottom: 45%;
}
.meet-family__character[data-position=very-very-right-further] {
  left: 82.5%;
  bottom: 54%;
}
.meet-family__character[data-position=very-very-right-closer] {
  left: 75.5%;
  bottom: 37%;
}
.meet-family__character-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(var(--character-width) * 1%);
  height: calc(var(--character-width) * 1%);
}

@-webkit-keyframes pull-the-trigger {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  30%, 32% {
    -webkit-transform: translate(14%, 25%) rotate(2deg);
            transform: translate(14%, 25%) rotate(2deg);
  }
  45%, 65% {
    -webkit-transform: translate(20%, 50%) rotate(5deg);
            transform: translate(20%, 50%) rotate(5deg);
  }
}

@keyframes pull-the-trigger {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  30%, 32% {
    -webkit-transform: translate(14%, 25%) rotate(2deg);
            transform: translate(14%, 25%) rotate(2deg);
  }
  45%, 65% {
    -webkit-transform: translate(20%, 50%) rotate(5deg);
            transform: translate(20%, 50%) rotate(5deg);
  }
}
@-webkit-keyframes camera-flash {
  0%, 40%, 66%, 100% {
    opacity: 0;
  }
  45%, 65% {
    opacity: 1;
  }
}
@keyframes camera-flash {
  0%, 40%, 66%, 100% {
    opacity: 0;
  }
  45%, 65% {
    opacity: 1;
  }
}
@-webkit-keyframes flash-characters {
  0%, 40%, 66%, 100% {
    -webkit-filter: invert(1) brightness(100%) invert(1);
            filter: invert(1) brightness(100%) invert(1);
  }
  45%, 65% {
    -webkit-filter: invert(1) brightness(30%) invert(1);
            filter: invert(1) brightness(30%) invert(1);
  }
}
@keyframes flash-characters {
  0%, 40%, 66%, 100% {
    -webkit-filter: invert(1) brightness(100%) invert(1);
            filter: invert(1) brightness(100%) invert(1);
  }
  45%, 65% {
    -webkit-filter: invert(1) brightness(30%) invert(1);
            filter: invert(1) brightness(30%) invert(1);
  }
}
@-webkit-keyframes bg-flash {
  0%, 40%, 66%, 100% {
    opacity: 0;
  }
  45%, 65% {
    opacity: 0.2;
  }
}
@keyframes bg-flash {
  0%, 40%, 66%, 100% {
    opacity: 0;
  }
  45%, 65% {
    opacity: 0.2;
  }
}
/* Sun animations */
@-webkit-keyframes rotate90 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
            transform: translate(-50%, -50%) rotate(60deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(125deg);
            transform: translate(-50%, -50%) rotate(125deg);
  }
}
@keyframes rotate90 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
            transform: translate(-50%, -50%) rotate(60deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(125deg);
            transform: translate(-50%, -50%) rotate(125deg);
  }
}
@-webkit-keyframes rotateSun {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
}
@keyframes rotateSun {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
}