body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(40, 40, 40);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

:root {
  --PRODUCT-HERO-SEC-character-anim-duration: 600;
}

.product-hero {
  width: 100%;
  aspect-ratio: 2.0512820513;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
}
.product-hero::after {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.product-hero::before {
  display: none;
}
.product-hero.absolute-top-0 {
  position: absolute;
  top: 0;
}
.product-hero.fixed-top-0 {
  position: fixed;
  top: 0;
}
.product-hero.absolute-bottom-0 {
  position: absolute;
  bottom: 0;
}
.product-hero-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.product-hero-container::after {
  -webkit-box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
          box-shadow: inset 0 -2.9vw 1.3vw -1vw #ffffff;
}
.product-hero-container::before {
  display: none;
}
.product-hero-container.adjust-height-for-bigger-screens {
  aspect-ratio: 2.0512820513;
}
.product-hero__wrapper {
  width: 100%;
  aspect-ratio: 2.0512820513;
}
.product-hero__content {
  z-index: 2;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 3rem 3rem 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.product-hero__very-bg, .product-hero__bg, .product-hero__clouds-piece-1, .product-hero__clouds-piece-2, .product-hero__clouds-piece-3, .product-hero__clouds-piece-4, .product-hero__product-highlight, .product-hero__clouds-piece-character-feet-cover {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.product-hero__product {
  top: 28%;
  left: 14.6%;
  width: 20%;
  height: auto;
}
.product-hero__clouds-piece-character-feet-cover {
  -webkit-transform: translate(-51%, -55.6%);
          transform: translate(-51%, -55.6%);
}
.product-hero__product-character {
  left: 32%;
  bottom: 3%;
  width: 20%;
  height: auto;
  overflow: hidden;
}
.product-hero__product-character-image.priority {
  width: 1000%;
  -webkit-animation: animate-character calc(var(--PRODUCT-HERO-SEC-character-anim-duration) * 1ms) steps(10) infinite;
          animation: animate-character calc(var(--PRODUCT-HERO-SEC-character-anim-duration) * 1ms) steps(10) infinite;
}
.product-hero__product-character-image--angle.priority, .product-hero__product-character-image--brush.priority {
  width: 800%;
  -webkit-animation: animate-character calc(var(--PRODUCT-HERO-SEC-character-anim-duration) * 1ms) steps(8) infinite;
          animation: animate-character calc(var(--PRODUCT-HERO-SEC-character-anim-duration) * 1ms) steps(8) infinite;
}
.product-hero[data-product=paste] .product-hero__product-character-image--paste {
  display: block;
}
.product-hero[data-product=paste] .product-hero__product-character-image--stick {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-character-image--cup {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-character-image--brush {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-character-image--angle {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-image--paste {
  display: block;
}
.product-hero[data-product=paste] .product-hero__product-image--stick {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-image--cup {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-image--brush {
  display: none;
}
.product-hero[data-product=paste] .product-hero__product-image--angle {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-character {
  left: 30%;
  width: 25.5%;
}
.product-hero[data-product=stick] .product-hero__product-character-image--paste {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-character-image--stick {
  display: block;
}
.product-hero[data-product=stick] .product-hero__product-character-image--cup {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-character-image--brush {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-character-image--angle {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product {
  top: 24.5%;
  left: 11.6%;
  width: 26%;
}
.product-hero[data-product=stick] .product-hero__product-image--paste {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-image--stick {
  display: block;
}
.product-hero[data-product=stick] .product-hero__product-image--cup {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-image--brush {
  display: none;
}
.product-hero[data-product=stick] .product-hero__product-image--angle {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-character {
  left: 32%;
  width: 18%;
}
.product-hero[data-product=cup] .product-hero__product-character-image--paste {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-character-image--stick {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-character-image--cup {
  display: block;
}
.product-hero[data-product=cup] .product-hero__product-character-image--brush {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-character-image--angle {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product {
  top: 31.5%;
  left: 17%;
  width: 18%;
}
.product-hero[data-product=cup] .product-hero__product-image--paste {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-image--stick {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-image--cup {
  display: block;
}
.product-hero[data-product=cup] .product-hero__product-image--brush {
  display: none;
}
.product-hero[data-product=cup] .product-hero__product-image--angle {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-character {
  left: 31%;
  width: 20%;
  bottom: 5%;
}
.product-hero[data-product=brush] .product-hero__product-character-image--paste {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-character-image--stick {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-character-image--cup {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-character-image--brush {
  display: block;
}
.product-hero[data-product=brush] .product-hero__product-character-image--angle {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product {
  top: 21%;
  left: 14%;
  width: 22%;
}
.product-hero[data-product=brush] .product-hero__product-image--paste {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-image--stick {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-image--cup {
  display: none;
}
.product-hero[data-product=brush] .product-hero__product-image--brush {
  display: block;
}
.product-hero[data-product=brush] .product-hero__product-image--angle {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-character {
  left: 30%;
  width: 22%;
  bottom: 5%;
}
.product-hero[data-product=angle] .product-hero__product-character-image--paste {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-character-image--stick {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-character-image--cup {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-character-image--brush {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-character-image--angle {
  display: block;
}
.product-hero[data-product=angle] .product-hero__product {
  top: 22%;
  left: 12%;
  width: 25%;
}
.product-hero[data-product=angle] .product-hero__product-image--paste {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-image--stick {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-image--cup {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-image--brush {
  display: none;
}
.product-hero[data-product=angle] .product-hero__product-image--angle {
  display: block;
}

@-webkit-keyframes animate-character {
  0% {
    -webkit-transform: translateX(0) translateY(var(--translate-y, 0));
            transform: translateX(0) translateY(var(--translate-y, 0));
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(var(--translate-y, 0));
            transform: translateX(-100%) translateY(var(--translate-y, 0));
  }
}

@keyframes animate-character {
  0% {
    -webkit-transform: translateX(0) translateY(var(--translate-y, 0));
            transform: translateX(0) translateY(var(--translate-y, 0));
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(var(--translate-y, 0));
            transform: translateX(-100%) translateY(var(--translate-y, 0));
  }
}
@media screen and (max-width: 81.25rem) { /* 1300px */
  .product-hero {
    position: relative;
    aspect-ratio: 4/3.5;
  }
  .product-hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-hero__wrapper {
    width: 182%;
  }
}