.quizzes-cta {
  width: 100%;
  aspect-ratio: 16/8;
  overflow: hidden;
  position: relative;
}
.quizzes-cta__wrapper {
  aspect-ratio: 16/8;
  position: relative;
}
.quizzes-cta__bg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.quizzes-cta__rotating-flare {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  -webkit-animation: rotate_backlight 5s linear infinite;
          animation: rotate_backlight 5s linear infinite;
}
.quizzes-cta__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-black);
  font-family: "The Bold Font", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
.quizzes-cta__title {
  font-size: clamp(3.75rem, 4.5vw, 6rem);
  margin-bottom: 1rem;
  line-height: 1.2;
  margin: 0;
}
.quizzes-cta__btn {
  font-family: "The Bold Font", sans-serif !important;
  font-size: clamp(1.8rem, 2vw, 2.5rem) !important;
  border: 0.2em solid #000000 !important;
  margin-top: 0 !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.quizzes-cta__female-dentist {
  position: absolute;
  bottom: 3%;
  right: 2%;
  width: 34%;
  height: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) {
  /* 1300px */
  .quizzes-cta {
    aspect-ratio: 16/12;
  }
  .quizzes-cta__wrapper {
    aspect-ratio: 16/12;
  }
  .quizzes-cta__bg {
    left: 51%;
    width: 144%;
  }
  .quizzes-cta__rotating-flare {
    width: 120%;
  }
  .quizzes-cta__female-dentist {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* 1300px */
  .quizzes-cta__content {
    gap: 1.5rem;
  }
  .quizzes-cta__title {
    font-size: 8vw !important;
  }
  .quizzes-cta__btn {
    font-size: 4vw !important;
  }
}