body {
    width: 100%;
    height: 300vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --SAVE-TEETH-MONEY-SEC-vaults-left-arm-anim-duration: 2000;
    --SAVE-TEETH-MONEY-SEC-vaults-right-arm-anim-duration: 1500;
    --SAVE-TEETH-MONEY-SEC-on-scroll-enlarging-step: 0.01;
    --SAVE-TEETH-MONEY-SEC-on-scroll-moving-step: 1.5%;
}

/* SECTION STYLING */
.save-teeth-money {
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/* .save-teeth-money .radial-dark-shadow {
    --smaller-radius: 45%;
    --larger-radius: 50%;

    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    animation: broken-light-effect 1500ms ease infinite;
}

.save-teeth-money .radial-dark-shadow::after {
    --smaller-radius: 45%;
    --larger-radius: 50%;

    position: absolute;
    content: '';
    z-index: 5;
    inset: 0;
    background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    animation: broken-light-effect 1500ms ease infinite;
}

@keyframes broken-light-effect {
    0% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
    7% {
        background-image: radial-gradient(transparent var(--larger-radius), #000000);
    }
    14% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
    21% {
        background-image: radial-gradient(transparent var(--larger-radius), #000000);
    }
    28% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
    35% {
        background-image: radial-gradient(transparent var(--larger-radius), #000000);
    }
    42% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
    49% {
        background-image: radial-gradient(transparent var(--larger-radius), #000000);
    }
    56% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
    63% {
        background-image: radial-gradient(transparent var(--larger-radius), #000000);
    }
    63%, 100% {
        background-image: radial-gradient(transparent var(--smaller-radius), #000000);
    }
} */

.save-teeth-money__bg {
    --SAVE-TEETH-MONEY-SEC-blur: 2px;

    inset: 0;
    transition: transform 0.3s ease;
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

.save-teeth-money__save-teeth-lottie,
.save-teeth-money__save-money-lottie {
    --SAVE-TEETH-MONEY-SEC-blur: 1px;

    top: -23%;
    width: 64%;
    aspect-ratio: 16 / 10;
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

.save-teeth-money__save-teeth-lottie {
   left: -16%;
   /* background-color: aqua; */
}

.save-teeth-money__save-money-lottie {
    top: -23.5%;
    right: -16%;
    /* background-color: aquamarine; */
}

.save-teeth-money__vault {
    --SAVE-TEETH-MONEY-SEC-blur: 1px;

    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
    transition: transform 0.3s ease;
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

.save-teeth-money__vault-left-arm {
    --SAVE-TEETH-MONEY-SEC-blur: 1px;

    left: 20%;
    top: 35%;
    width: 21%;
    transform-origin: 90% 20%;
    transform: rotate(5deg);
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

.save-teeth-money__vault-left-arm.animate {
    animation: left-hand-movement calc(var(--SAVE-TEETH-MONEY-SEC-vaults-left-arm-anim-duration) * 1ms) cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.save-teeth-money__vault-right-arm {
    --SAVE-TEETH-MONEY-SEC-blur: 1px;

    right: 19%;
    top: 29%;
    width: 22%;
    transform-origin: 10% 40%;
    transform: rotate(5deg);
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

.save-teeth-money__vault-right-arm.animate {
    animation: right-hand-movement calc(var(--SAVE-TEETH-MONEY-SEC-vaults-right-arm-anim-duration) * 1ms) cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.save-teeth-money__tooth-money {
    --SAVE-TEETH-MONEY-SEC-blur: 0.7px;

    bottom: 3%;
    left: 51%;
    transform: translateX(-50%);
    width: 29%;
    transition: transform 0.3s ease;
    filter: blur(var(--SAVE-TEETH-MONEY-SEC-blur));
}

/* ANIMATIONS */
@keyframes left-hand-movement {
    0%, 100%  {
        transform: rotate(5deg);
    }
    45%  {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

@keyframes right-hand-movement {
    0%, 100% {
        transform: rotate(5deg);
    }
    35% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%);  }
    30% { transform: translate(7%, -25%);  }
    40% { transform: translate(-5%, 25%);  }
    50% { transform: translate(-15%, 10%); }
    60% { transform: translate(15%, 0%); }
    70% { transform: translate(0%, 15%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}

/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) { /* 1300px */
    .save-teeth-money,
    .save-teeth-money__wrapper {
        aspect-ratio: 16 / 12;
    }
    .save-teeth-money__bg {
        width: 130%;
        aspect-ratio: 16 / 9;
        left: -14%;
    }
    .save-teeth-money__vault {
        top: 55%;
        width: 60%;
    }
    .save-teeth-money__vault-left-arm {
        left: 2%;
        width: 38%;
    }
    .save-teeth-money__vault-right-arm {
        right: 1%;
        width: 38%;
    }
    .save-teeth-money__tooth-money {
        bottom: 0%;
        width: 62%;
    }
    .save-teeth-money__save-teeth-lottie,
    .save-teeth-money__save-money-lottie {
        top: -29%;
        width: 60%;
    }
    .save-teeth-money__save-teeth-lottie {
        left: -11%;
    }
    .save-teeth-money__save-money-lottie {
        top: -29.5%;
        right: -11%;
    }
    .save-teeth-money__save-teeth-lottie,
    .save-teeth-money__save-money-lottie,
    .save-teeth-money__bg,
    .save-teeth-money__vault,
    .save-teeth-money__vault-left-arm,
    .save-teeth-money__vault-right-arm,
    .save-teeth-money__tooth-money {
        --SAVE-TEETH-MONEY-SEC-blur: 0;
    }    
}