:root {
  --bg-color: #242424;
  --main-btn-color: #FFE2DD;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body button {
  font-family: "Poppins", sans-serif;
}

.btn-holder {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.pricing-section {
  background-color: transparent;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subtle-p-text-shadow {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}