.theatre {
  width: 100%;
  aspect-ratio: 5/3;
  overflow: hidden;
  position: relative;
}
.theatre__wrapper {
  aspect-ratio: 5/3;
}
.theatre__bg {
  inset: 0;
}
.theatre__middle-row {
  left: 0;
  bottom: 0;
  width: 100%;
}
.theatre__people-8, .theatre__people-7, .theatre__people-6, .theatre__people-5, .theatre__people-4, .theatre__people-3, .theatre__people-2, .theatre__people-1, .theatre__seat-row-8, .theatre__seat-row-7, .theatre__seat-row-6, .theatre__seat-row-5, .theatre__seat-row-4, .theatre__seat-row-3, .theatre__seat-row-2, .theatre__seat-row-1 {
  --slide-in-anim-duration: 600;
  --slide-distance: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: calc(var(--slide-in-anim-duration) * 1ms);
          transition-duration: calc(var(--slide-in-anim-duration) * 1ms);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.theatre__people-8.slide-in, .theatre__people-7.slide-in, .theatre__people-6.slide-in, .theatre__people-5.slide-in, .theatre__people-4.slide-in, .theatre__people-3.slide-in, .theatre__people-2.slide-in, .theatre__people-1.slide-in, .theatre__seat-row-8.slide-in, .theatre__seat-row-7.slide-in, .theatre__seat-row-6.slide-in, .theatre__seat-row-5.slide-in, .theatre__seat-row-4.slide-in, .theatre__seat-row-3.slide-in, .theatre__seat-row-2.slide-in, .theatre__seat-row-1.slide-in {
  --bottom-distance: var(--static-bottom-distance);
}
.theatre__people-8 {
  --slide-distance: 2rem;
  --static-bottom-distance: 40%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 42.5%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
.theatre__seat-row-8 {
  --slide-distance: 2rem;
  --static-bottom-distance: 31.8%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 45%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
.theatre__people-7 {
  --slide-distance: 3rem;
  --static-bottom-distance: 40.3%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 49%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.theatre__seat-row-7 {
  --slide-distance: 3rem;
  --static-bottom-distance: 28.5%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 54%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.theatre__people-6 {
  --slide-distance: 4rem;
  --static-bottom-distance: 31.7%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 59%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.theatre__seat-row-6 {
  --slide-distance: 4rem;
  --static-bottom-distance: 24%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 64%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.theatre__people-5 {
  --slide-distance: 5rem;
  --static-bottom-distance: 31%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 70%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.theatre__seat-row-5 {
  --slide-distance: 5rem;
  --static-bottom-distance: 18%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 74%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.theatre__people-4 {
  --slide-distance: 6rem;
  --static-bottom-distance: 27.8%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 42%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.theatre__seat-row-4 {
  --slide-distance: 6rem;
  --static-bottom-distance: 13%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 84%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.theatre__people-3 {
  --slide-distance: 7rem;
  --static-bottom-distance: 25.8%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 84%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.theatre__seat-row-3 {
  --slide-distance: 7rem;
  --static-bottom-distance: 8.5%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 92%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.theatre__people-2 {
  --slide-distance: 8rem;
  --static-bottom-distance: 17%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 98%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.theatre__seat-row-2 {
  --slide-distance: 8rem;
  --static-bottom-distance: 3%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 100%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.theatre__people-1 {
  --slide-distance: 9rem;
  --static-bottom-distance: 9%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 92%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.theatre__seat-row-1 {
  --slide-distance: 9rem;
  --static-bottom-distance: 0.3%;
  --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  width: 102%;
  bottom: var(--bottom-distance);
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}

@-webkit-keyframes slide-up-seats-and-people {
  from {
    --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  }
  to {
    --bottom-distance: var(--static-bottom-distance);
  }
}

@keyframes slide-up-seats-and-people {
  from {
    --bottom-distance: calc(var(--static-bottom-distance) - var(--slide-distance));
  }
  to {
    --bottom-distance: var(--static-bottom-distance);
  }
}