:root {
  --TY-REVIEWS-SEC-character-translate-down: calc(120% + 10rem);
  --TY-REVIEWS-SEC-character-transition-duration: 600;
  --TY-REVIEWS-SEC-character-transition-delay-step: 100;
}

.ty-reviews {
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ty-reviews::before {
  z-index: 3;
}
.ty-reviews::after {
  -webkit-box-shadow: inset 0 -16.9vw 8vw -1.5vw #000000;
          box-shadow: inset 0 -16.9vw 8vw -1.5vw #000000;
}
.ty-reviews__wrapper {
  aspect-ratio: 16/10;
}
.ty-reviews__bg {
  inset: 0;
}
.ty-reviews__bg::after {
  position: absolute;
  content: "";
  inset: 0;
  -webkit-box-shadow: inset 0px 0px 6vw 2vw rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6vw 2vw rgba(0, 0, 0, 0.5);
}
.ty-reviews__character {
  z-index: 2;
}
.ty-reviews__character-image {
  -webkit-transform: translateY(var(--TY-REVIEWS-SEC-character-translate-down));
          transform: translateY(var(--TY-REVIEWS-SEC-character-translate-down));
  -webkit-transition: -webkit-transform calc(var(--TY-REVIEWS-SEC-character-transition-duration) * 1ms) ease;
  transition: -webkit-transform calc(var(--TY-REVIEWS-SEC-character-transition-duration) * 1ms) ease;
  transition: transform calc(var(--TY-REVIEWS-SEC-character-transition-duration) * 1ms) ease;
  transition: transform calc(var(--TY-REVIEWS-SEC-character-transition-duration) * 1ms) ease, -webkit-transform calc(var(--TY-REVIEWS-SEC-character-transition-duration) * 1ms) ease;
}
.ty-reviews__character.animate .ty-reviews__character-image {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.ty-reviews__character--brush .ty-reviews__character-image {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
.ty-reviews__character--stick .ty-reviews__character-image, .ty-reviews__character--angles-blue .ty-reviews__character-image {
  -webkit-transition-delay: calc(var(--TY-REVIEWS-SEC-character-transition-delay-step) * 1ms);
          transition-delay: calc(var(--TY-REVIEWS-SEC-character-transition-delay-step) * 1ms);
}
.ty-reviews__character--varnish-cup .ty-reviews__character-image, .ty-reviews__character--prophy .ty-reviews__character-image {
  -webkit-transition-delay: calc(var(--TY-REVIEWS-SEC-character-transition-delay-step) * 1ms * 2);
          transition-delay: calc(var(--TY-REVIEWS-SEC-character-transition-delay-step) * 1ms * 2);
}
.ty-reviews__character--brush {
  width: 34%;
  top: 0%;
  left: 4%;
}
.ty-reviews__character--stick {
  width: 30%;
  top: 14%;
  left: -4%;
}
.ty-reviews__character--varnish-cup {
  width: 40%;
  top: 38%;
  left: 6%;
}
.ty-reviews__character--angles-blue {
  width: 25%;
  top: -2%;
  right: -2%;
}
.ty-reviews__character--prophy {
  width: 38%;
  top: 36%;
  right: -2%;
}
.ty-reviews__lottie {
  width: 74%;
  top: -24%;
  left: 13%;
  z-index: 2;
}
.ty-reviews__content {
  width: 50%;
  text-align: center;
  z-index: 2;
  top: 43%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "LEMON MILK", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1bf33;
  font-size: 1.5vw;
}
.ty-reviews__message {
  line-height: 1.6;
  font-weight: 600;
}
.ty-reviews__link {
  --medium-body-font-size: 16px;
  --color-blue: #00cbff;
  --color-light-blue: #caf0ff;
  --font-family-lemonmilk: "LEMON MILK", sans-serif;
  --font-weight-normal: 400;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  margin-top: 0.5em;
  padding: 0.8em 3em;
  font-size: 1.5vw;
  background-color: var(--color-blue);
  color: #000;
  border: 0.2em solid black;
  border-radius: 100px;
  text-decoration: none;
  overflow: visible;
  font-family: var(--font-family-lemonmilk);
  font-weight: var(--font-weight-normal);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ty-reviews__link:hover {
  background-color: var(--color-light-blue);
  color: #000;
  border: 3px solid #000;
  scale: 1.2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1300px) {
  .ty-reviews__content {
    width: 70%;
    font-size: 2vw;
  }
  .ty-reviews__link {
    font-size: 2.5vw;
  }
}