:root {
  --TY-SAMPLES-SEC-airplane-translate-down: calc(100% + 10rem);
  --TY-SAMPLES-SEC-airplane-transition-duration: 900;
  --TY-SAMPLES-SEC-pilot-arm-animation-duration: 2600;
}

.ty-samples {
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ty-samples::before {
  z-index: 3;
}
.ty-samples::after {
  -webkit-box-shadow: inset 0 -16.9vw 8vw -1.5vw #000000;
          box-shadow: inset 0 -16.9vw 8vw -1.5vw #000000;
}
.ty-samples__wrapper {
  aspect-ratio: 16/10;
}
.ty-samples__bg {
  inset: 0;
  bottom: 12%;
}
.ty-samples__bg::after {
  position: absolute;
  content: "";
  inset: 0;
  -webkit-box-shadow: inset 0px 0px 6vw 2vw rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6vw 2vw rgba(0, 0, 0, 0.5);
}
.ty-samples__cloud--1 {
  width: 100%;
  top: 0%;
  left: -28%;
}
.ty-samples__cloud--2 {
  width: 100%;
  top: 40%;
  left: 40%;
}
.ty-samples__cloud--3 {
  width: 100%;
  top: -24%;
  left: -44%;
}
.ty-samples__cloud--4 {
  width: 45%;
  top: 0%;
  left: 24%;
}
.ty-samples__cloud--5 {
  width: 45%;
  top: 40%;
  left: -22%;
}
.ty-samples__cloud--6 {
  width: 35%;
  top: -6%;
  left: 84%;
}
.ty-samples__birds {
  width: 90%;
  height: 90%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ty-samples__pilot-airplane-container {
  position: absolute;
  inset: 0;
  z-index: 2;
  -webkit-transform: translateY(var(--TY-SAMPLES-SEC-airplane-translate-down));
          transform: translateY(var(--TY-SAMPLES-SEC-airplane-translate-down));
  -webkit-transition: -webkit-transform calc(var(--TY-SAMPLES-SEC-airplane-transition-duration) * 1ms) ease;
  transition: -webkit-transform calc(var(--TY-SAMPLES-SEC-airplane-transition-duration) * 1ms) ease;
  transition: transform calc(var(--TY-SAMPLES-SEC-airplane-transition-duration) * 1ms) ease;
  transition: transform calc(var(--TY-SAMPLES-SEC-airplane-transition-duration) * 1ms) ease, -webkit-transform calc(var(--TY-SAMPLES-SEC-airplane-transition-duration) * 1ms) ease;
}
.ty-samples__pilot-airplane-container.load-transition {
  -webkit-transform: translateY(0) translateX(-2%);
          transform: translateY(0) translateX(-2%);
}
.ty-samples__pilot-airplane-container .vibrate {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.ty-samples__airplane {
  position: absolute;
  top: -10%;
  left: -6%;
  width: 112%;
}
.ty-samples__pilot-arm {
  position: absolute;
  top: 40%;
  left: 25.3%;
  width: 8%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.ty-samples__pilot-arm.animate {
  -webkit-animation: presenting-package calc(var(--TY-SAMPLES-SEC-pilot-arm-animation-duration) * 1ms) ease-in-out infinite forwards;
          animation: presenting-package calc(var(--TY-SAMPLES-SEC-pilot-arm-animation-duration) * 1ms) ease-in-out infinite forwards;
}
.ty-samples__btn-container {
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}
.ty-samples__btn {
  --medium-body-font-size: 15.5px;
  --color-blue: #00cbff;
  --color-light-blue: #caf0ff;
  --font-family-lemonmilk: "LEMON MILK", sans-serif;
  --font-weight-normal: 400;
  position: relative;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 0.5em;
  padding: 0.8em 8em;
  font-size: var(--medium-body-font-size);
  background-color: var(--color-blue);
  color: #000;
  border: 0.25em solid black;
  border-radius: 100px;
  text-decoration: none;
  overflow: visible;
  font-family: var(--font-family-lemonmilk);
  font-weight: var(--font-weight-normal);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  .ty-samples__btn {
    --medium-body-font-size: 14px;
    padding: 0.8em 6em;
  }
}
.ty-samples__btn:hover {
  background-color: var(--color-light-blue);
  color: #000;
  border: 3px solid #000;
  scale: 1.2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes presenting-package {
  0%, 100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes presenting-package {
  0%, 100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}