.player {
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: var(--black-color-800);
  color: var(--white-color-900);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--black-color-900);
  // display: none;

  @media (max-width: 1024px) {
    padding-top: 50px;
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  &__song-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 240px;
    padding-right: 2rem;

    &__inner-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;
    }

    @media (max-width: 1024px) {
      flex: 1;
    }

    @media (max-width: 768px) {
      width: auto;
      padding-right: 1rem;
    }

    @media (max-width: 480px) {
      padding-right: 0;
    }
  }

  &__song-image {
    height: 40px;
    width: 40px;
    background-image: URL('https://source.unsplash.com/Qrspubmx6kE/640x360');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 1rem;
    flex-shrink: 0;
  }

  &__song-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 200px;
    // background-color: rgb(49, 121, 121);

    @media (max-width: 480px) {
      width: clamp(20px, 20vw, 200px);
    }

    @media (max-width: 380px) {
      width: clamp(20px, 12vw, 200px);
    }
  }

  &__song-name {
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__song-artist {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__main-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding-inline: 1rem;

    @media (max-width: 1024px) {
      flex: 1;
    }

    @media (max-width: 768px) {
      flex: 0 1 auto;
    }
  }

  &__button {
    padding: 10px 14px;
    color: var(--white-color-400);
    transition: all 150ms ease-in-out;
    cursor: pointer;
    font-size: 1.1rem;
    // background-color: aqua;
    border-radius: 10px;

    &:hover,
    &:focus-visible {
      color: var(--white-color-900);
    }

    &--previous {

    }

    &--play {
      font-size: 1.5rem;
    }

    &--next {

    }
  }

  &__slider {
    --slider-height: 5;

    appearance: none;
    height: calc(var(--slider-height) * 1px);
    background: var(--white-color-300);
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    width: calc(var(--slider-width) * 1px);

    @media (max-width: 1024px) {
      width: 100%;
    }

    &--seek ~ &-progress-bar {
      width: 0;
    }

    &--volume ~ &-progress-bar {
      width: 50px;
    }

    &::-webkit-slider-thumb {
      width: 10px;
      height: calc(var(--slider-height) * 1px);
      opacity: 0;
    }

    &-progress-bar {
      position: absolute;
      inset: 0;

      background: var(--white-color-900);
      border-radius: 10px;
      width: 0;
      pointer-events: none;
    }

    &-container {
      width: max-content;
      padding-inline: 1rem;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      &--seek {
        width: 400px;

        @media (max-width: 1024px) {
          position: absolute;
          top: 15px;
          max-width: unset;
          width: 100%;
          box-sizing: border-box;
          padding-inline: 0.5rem;
        }
      }

      &--volume {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    &-wrapper {
      position: relative;
      height: calc(var(--slider-height) * 1px);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
     
      &--seek {
        --slider-width: 250;

        @media (max-width: 1024px) {
          flex: 1;
        }
      }

      &--volume {
        --slider-width: 100;
      }
    }

    &-current-time {
      padding: 10px;
    }

    &-total-duration {
      padding: 10px;
    }

    &-volume-down-icon {
      padding: 10px;
    }

    &-volume-up-icon {
      padding: 10px;
    }
  }
}