
/* GENERAL STYLINGS */
:root {
    /* Animations' durations in milliseconds */
    --WALKING-CHARACTERS-character-walking-animation-duration: 1000;
    --WALKING-CHARACTERS-further-walking-animation-duration: 10000;
    --WALKING-CHARACTERS-closer-walking-animation-duration: 11000;
    --WALKING-CHARACTERS-sun-moving-animation-duration: 12000;
    --WALKING-CHARACTERS-character-walking-blurring-step: 2px;
    --on-scroll-moving-step: 2%;
}

@media (max-width: 800px) { :root { --WALKING-CHARACTERS-character-walking-blurring-step: 1px; } }
@media (max-width: 450px) { :root { --WALKING-CHARACTERS-character-walking-blurring-step: 0.5px; } }

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* BACKGROUND STYLING */
.walking-characters {
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.walking-characters__wrapper {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.walking-characters__wrapper > * {
    position: absolute;
}

.walking-characters::before {
    display: none;
}

.walking-characters::after {
    z-index: 20;
}

.walking-characters__curved-heading {
    width: 100%;
    top: 10%;
    font-family: LEMON MILK;
    color: #fbf5d1;
    font-size: 5vw;
    font-weight: 600;
    margin: 0;
    -webkit-text-stroke: 0.03em #ebb042;
    text-shadow: -0.12em 0.09em 0.015em #2f404a;
    letter-spacing: -0.045px;
}

.walking-characters__closer-hills-and-lane {
    width: 101%;
    left: 0;
    bottom: 0;
    z-index: 12;
    transition: transform 200ms ease-in-out;
}

.walking-characters__further-hills-and-lane {
    width: 70%;
    right: -15%;
    bottom: -15%;
    z-index: 6;
    transition: transform 200ms ease-in-out;
}

/* .walking-characters .closer-hills-and-lane.scroll100,
.walking-characters .further-hills-and-lane.scroll100 {
    transform: translateY(calc(var(--on-scroll-moving-step) / 6 * 1));
}

.walking-characters .closer-hills-and-lane.scroll200,
.walking-characters .further-hills-and-lane.scroll200 {
    transform: translateY(calc(var(--on-scroll-moving-step) / 6 * 2));
}

.walking-characters .closer-hills-and-lane.scroll300,
.walking-characters .further-hills-and-lane.scroll300 {
    transform: translateY(calc(var(--on-scroll-moving-step) / 6 * 3));
}

.walking-characters .closer-hills-and-lane.scroll400,
.walking-characters .further-hills-and-lane.scroll400 {
    transform: translateY(calc(var(--on-scroll-moving-step) / 6 * 4));
}

.walking-characters .closer-hills-and-lane.scroll500,
.walking-characters .further-hills-and-lane.scroll500 {
    transform: translateY(calc(var(--on-scroll-moving-step) / 6 * 5));
} */

.walking-characters__sky {
    width: 120%;
    left: -10%;
    top: 0;
}

.walking-characters__mountains {
    width: 50%;
    right: 0;
    top: 30%;
    z-index: 6;
    transition: transform 200ms ease-in-out;
}

.walking-characters__sun {
    width: 250%;
    top: 234%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: relative;

    animation: rotate-sun calc(var(--WALKING-CHARACTERS-sun-moving-animation-duration) * 1ms) linear infinite forwards;
}

.walking-characters__sun-image.precedence {
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2.2vw 1.8vw #efca43;

    animation: rotate-sun-image calc(var(--WALKING-CHARACTERS-sun-moving-animation-duration) * 1ms) linear infinite forwards;
}

.walking-characters__bush-and-board {
    width: 26%;
    right: 0;
    bottom: 8%;
    z-index: 18;
    transition: transform 200ms ease-in-out;
}

/* .walking-characters .mountains.scroll100,
.walking-characters .bush-and-board.scroll100 {
    transform: translateY(var(--on-scroll-moving-step));
}

.walking-characters .mountains.scroll200,
.walking-characters .bush-and-board.scroll200 {
    transform: translateY(calc(var(--on-scroll-moving-step) * 2));
}

.walking-characters .mountains.scroll300,
.walking-characters .bush-and-board.scroll300 {
    transform: translateY(calc(var(--on-scroll-moving-step) * 3));
}

.walking-characters .mountains.scroll400,
.walking-characters .bush-and-board.scroll400 {
    transform: translateY(calc(var(--on-scroll-moving-step) * 4));
}

.walking-characters .mountains.scroll500,
.walking-characters .bush-and-board.scroll500 {
    transform: translateY(calc(var(--on-scroll-moving-step) * 5));
}

.walking-characters .bush-and-board > *:not(:first-child) {
    position: absolute;
} */

/* CHARACTER STYLING */
.walking-characters__character {
    width: 10%;
    overflow: hidden;
}

.walking-characters__character-image.precedence {
    width: 800%;
    animation: animate-character calc(var(--WALKING-CHARACTERS-character-walking-animation-duration) * 1ms) steps(8) infinite;
}

/* CLOSER AND FURTHER CHARACTERS STYLING */
.walking-characters__closer-characters-container,
.walking-characters__further-characters-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.closer-character {
    animation-iteration-count: infinite;
}

.walking-characters__character--closer,
.walking-characters__character--further {
    position: absolute;
}

.walking-characters__character--further.first {
    right: -7%;
    bottom: 30.5%;
    transform: scale(0.2);
}

.walking-characters__character--further.second {
    right: -6%;
    bottom: 31%;
    transform: scale(0.2);
}

.walking-characters__character--further.third {
    right: -6%;
    bottom: 31.3%;
    transform: scale(0.2);
}

.walking-characters__character--further.fourth {
    right: -6%;
    bottom: 31.3%;
    transform: scale(0.2);
}

.walking-characters__character--further.fifth {
    right: -6%;
    bottom: 31.7%;
    transform: scale(0.2);
}

.walking-characters__character--further.first.walk {
    animation: further-walking-very-left-route calc(var(--WALKING-CHARACTERS-further-walking-animation-duration) * 1ms) linear forwards;
    z-index: 11;
}

.walking-characters__character--further.second.walk {
    animation: further-walking-left-route calc(var(--WALKING-CHARACTERS-further-walking-animation-duration) * 1ms) linear forwards;
    z-index: 10;
}

.walking-characters__character--further.third.walk {
    animation: further-walking-middle-route calc(var(--WALKING-CHARACTERS-further-walking-animation-duration) * 1ms) linear forwards;
    z-index: 9;
}

.walking-characters__character--further.fourth.walk {
    animation: further-walking-right-route calc(var(--WALKING-CHARACTERS-further-walking-animation-duration) * 1ms) linear forwards;
    z-index: 8;
}

.walking-characters__character--further.fifth.walk {
    animation: further-walking-very-right-route calc(var(--WALKING-CHARACTERS-further-walking-animation-duration) * 1ms) linear forwards;
    z-index: 7;
}

.walking-characters__character--closer.first {
    right: 12.4%;
    bottom: 7%;
    transform: scale(0);
    filter: blur(0);
}

.walking-characters__character--closer.second {
    right: 12.7%;
    bottom: 7.2%;
    transform: scale(0);
    filter: blur(0);
}

.walking-characters__character--closer.third {
    right: 13.1%;
    bottom: 7.3%;
    transform: scale(0);
    filter: blur(0);
}

.walking-characters__character--closer.fourth {
    right: 20.2%;
    bottom: 9.7%;
    transform: scale(0);
    filter: blur(0);
}

.walking-characters__character--closer.fifth {
    right: 20.7%;
    bottom: 9.9%;
    transform: scale(0);
    filter: blur(0);
}

.walking-characters__character--closer.first.walk {
    animation: closer-walking-very-left-route calc(var(--WALKING-CHARACTERS-closer-walking-animation-duration) * 1ms) linear forwards;
    z-index: 17;
}

.walking-characters__character--closer.second.walk {
    animation: closer-walking-left-route calc(var(--WALKING-CHARACTERS-closer-walking-animation-duration) * 1ms) linear forwards;
    z-index: 16;
}

.walking-characters__character--closer.third.walk {
    animation: closer-walking-middle-route calc(var(--WALKING-CHARACTERS-closer-walking-animation-duration) * 1ms) linear forwards;
    z-index: 15;
}

.walking-characters__character--closer.fourth.walk {
    animation: closer-walking-right-route calc(var(--WALKING-CHARACTERS-closer-walking-animation-duration) * 1ms) linear forwards;
    z-index: 14;
}

.walking-characters__character--closer.fifth.walk {
    animation: closer-walking-very-right-route calc(var(--WALKING-CHARACTERS-closer-walking-animation-duration) * 1ms) linear forwards;
    z-index: 13;
}

/* ANIMATIONS */
@keyframes animate-character {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Sun animations */
@keyframes rotate-sun {
    0% { transform: translate(-50%, -50%) rotate(60deg); }
    100% { transform: translate(-50%, -50%) rotate(125deg); }
}

@keyframes rotate-sun-image {
    0% { transform: rotate(-70deg); }
    100% { transform: rotate(-154deg); }
}

/* Further walking cycles */
@keyframes further-walking-very-right-route {
    0% {
        right: -6%;
        bottom: 31.7%;
        transform: scale(0.2);
    }
    13% {
        right: -1.9%;
        bottom: 33.2%;
        transform: scale(0.25);
    }
    20% {
        right: 0.4%;
        bottom: 33.5%;
        transform: scale(0.3);
    }
    30% {
        right: 3.5%;
        bottom: 33.4%;
        transform: scale(0.35);
    }
    40% {
        right: 7.3%;
        bottom: 32.8%;
        transform: scale(0.40);
    }
    50% {
        right: 10.6%;
        bottom: 30.5%;
        transform: scale(0.45);
    }
    60% {
        right: 15%;
        bottom: 27.4%;
        transform: scale(0.50);
    }
    70% {
        right: 19.3%;
        bottom: 23%;
        transform: scale(0.55);
    }
    80% {
        right: 23.6%;
        bottom: 17.4%;
        transform: scale(0.55);
    }
    90% {
        right: 29%;
        bottom: 10.3%;
        transform: scale(0.55);
    }
    100% {
        right: 34.6%;
        bottom: 3%;
        transform: scale(0.55);
    }
}

@keyframes further-walking-right-route {
    0% {
        right: -6%;
        bottom: 31.3%;
        transform: scale(0.2);
    }
    13% {
        right: -2.7%;
        bottom: 32.7%;
        transform: scale(0.25);
    }
    20% {
        right: -0.6%;
        bottom: 33.1%;
        transform: scale(0.3);
    }
    30% {
        right: 2.3%;
        bottom: 33%;
        transform: scale(0.35);
    }
    40% {
        right: 5.9%;
        bottom: 32.1%;
        transform: scale(0.40);
    }
    50% {
        right: 9%;
        bottom: 30%;
        transform: scale(0.45);
    }
    60% {
        right: 13.2%;
        bottom: 26.65%;
        transform: scale(0.50);
    }
    70% {
        right: 17.3%;
        bottom: 22.34%;
        transform: scale(0.55);
    }
    80% {
        right: 21.5%;
        bottom: 16.5%;
        transform: scale(0.55);
    }
    90% {
        right: 27%;
        bottom: 9.5%;
        transform: scale(0.55);
    }
    100% {
        right: 32.6%;
        bottom: 2.4%;
        transform: scale(0.55);
    }
}
.c {
    z-index: 30;
}
.further-middle-1 {
    right: calc(-6% + 12% - 0.3% + (0.3%) * 1);
    bottom: calc(31% - 1% + 2.5% - (0.8%) * 1);
    transform: scale(calc(0.2 + 0.1));
}
.further-middle-2 {
    right: calc(-6% + 14% - 0.3% + (0.3%) * 2);
    bottom: calc(30.2% + 2.5% - (0.8%) * 2);
    transform: scale(0.35);
}
.further-middle-3 {
    right: calc(-6% + 16% - 0.3% + (0.3%) * 3);
    bottom: calc(30.4% + 2.5% - (0.8%) * 3);
    transform: scale(0.4);
}
.further-middle-4 {
    right: calc(-6% + 18.5% - 0.3% + (0.3%) * 4);
    bottom: calc(30.4% + 2.5% - (0.8%) * 4);
    transform: scale(0.45);
}
.further-middle-5 {
    right: calc(-6% + 21% - 0.3% + (0.3%) * 5);
    bottom: calc(30.0% + 2.5% - (0.8%) * 5);
    transform: scale(0.5);
}
.further-middle-6 {
    right: calc(-6% + 24% - 0.3% + (0.3%) * 6);
    bottom: calc(28.8% + 2.5% - (0.8%) * 6);
    transform: scale(0.55);
}
.further-middle-7 {
    right: calc(-6% + 27% - 0.3% + (0.3%) * 7);
    bottom: calc(27.5% + 2.5% - (0.8%) * 7);
    transform: scale(0.60);
}
.further-middle-8 {
    right: calc(-6% + 30.5% - 0.3% + (0.3%) * 8);
    bottom: calc(25.5% + 2.5% - (0.8%) * 8);
    transform: scale(0.65);
}
.further-middle-9 {
    right: calc(-6% + 34% - 0.3% + (0.3%) * 9);
    bottom: calc(22.6% + 2.5% - (0.8%) * 9);
    transform: scale(0.65);
}
.further-middle-10 {
    right: calc(-6% + 38.3% - 0.3% + (0.3%) * 10);
    bottom: calc(18.0% + 2.5% - (0.8%) * 10);
    transform: scale(0.65);
}
.further-middle-11 {
    right: calc(-6% + 43% - 0.3% + (0.3%) * 11);
    bottom: calc(14.0% + 2.5% - (0.8%) * 11);
    transform: scale(0.65);
}

@keyframes further-walking-middle-route {
    0% {
        right: -6%;
        bottom: 31%;
        transform: scale(0.2);
    }
    13% {
        right: -3%;
        bottom: 32.2%;
        transform: scale(0.25);
    }
    20% {
        right: -1%;
        bottom: 32.8%;
        transform: scale(0.3); 
    }
    30% {
        right: 1.6%;
        bottom: 32.5%;
        transform: scale(0.35); 
    }
    40% {
        right: 5%;
        bottom: 31.6%;
        transform: scale(0.40);  
    }
    50% {
        right: 8.2%;
        bottom: 29.5%;
        transform: scale(0.45); 
    }
    60% {
        right: 12.2%;
        bottom: 26.1%;
        transform: scale(0.50);
    }
    70% {
        right: 16.2%;
        bottom: 21.8%;
        transform: scale(0.55);
    }
    80% {
        right: 20.4%;
        bottom: 15.8%;
        transform: scale(0.55);
    }
    90% {
        right: 26%;
        bottom: 9%;
        transform: scale(0.55);
    }
    100% {
        right: 31.6%;
        bottom: 2%;
        transform: scale(0.55);
    }
}

@keyframes further-walking-left-route {
    0% {
        right: -7%;
        bottom: 31.1%;
        transform: scale(0.2);
    }
    13% {
        right: -4%;
        bottom: 31.6%;
        transform: scale(0.25);
    }
    20% {
        right: -2.3%;
        bottom: 32.1%;
        transform: scale(0.3);
    }
    30% {
        right: -0.2%;
        bottom: 31.7%;
        transform: scale(0.35);
    }
    40% {
        right: 3.3%;
        bottom: 30.9%;
        transform: scale(0.40);
    }
    50% {
        right: 6.3%;
        bottom: 28.95%;
        transform: scale(0.45);
    }
    60% {
        right: 10.2%;
        bottom: 25.45%;
        transform: scale(0.50);
    }
    70% {
        right: 14%;
        bottom: 21.2%;
        transform: scale(0.55);
    }
    80% {
        right: 18.2%;
        bottom: 14.9%;
        transform: scale(0.55);
    }
    90% {
        right: 23.8%;
        bottom: 8.2%;
        transform: scale(0.55);
    }
    100% {
        right: 29.3%;
        bottom: 1.5%;
        transform: scale(0.55);
    }
}

@keyframes further-walking-very-left-route {
    0% {
        right: -7%;
        bottom: 30.8%;
        transform: scale(0.2);
    }
    13% {
        right: -4.6%;
        bottom: 30.8%;
        transform: scale(0.25);
    }
    20% {
        right: -3.1%;
        bottom: 31.45%;
        transform: scale(0.3);
    }
    30% {
        right: -0.9%;
        bottom: 31.3%;
        transform: scale(0.35);
    }
    40% {
        right: 2.1%;
        bottom: 30.3%;
        transform: scale(0.40);
    }
    50% {
        right: 5%;
        bottom: 28.4%;
        transform: scale(0.45);
    }
    60% {
        right: 8.8%;
        bottom: 24.8%;
        transform: scale(0.50);
    }
    70% {
        right: 12.5%;
        bottom: 20.4%;
        transform: scale(0.55);
    }
    80% {
        right: 16.5%;
        bottom: 14%;
        transform: scale(0.55);
    }
    90% {
        right: 22%;
        bottom: 7.2%;
        transform: scale(0.55);
    }
    100% {
        right: 27.6%;
        bottom: 0.9%;
        transform: scale(0.55);
    }
}

/* Closer walking cycles */
@keyframes closer-walking-very-right-route {
    0% {
        right: 20.7%;
        bottom: 9.9%;
        transform: scale(0);
        filter: blur(0);
    }
    0.6% {
        right: 27%;
        bottom: 19.4%;
        transform: scale(0.75);
    }
    7% {
        right: 31.3%;
        bottom: 20.4%;
        transform: scale(0.8);
    }
    13.5% {
        right: 37%;
        bottom: 21.5%;
        transform: scale(0.85);
    }
    20% {
        right: 42.2%;
        bottom: 22%;
        transform: scale(0.95);
    }
    30.5% {
        right: 49.1%;
        bottom: 22.2%;
        transform: scale(1.15);
    }
    41% {
        right: 57.6%;
        bottom: 21.4%;
        transform: scale(1.4);
    }
    51.5% {
        right: 68.9%;
        bottom: 18.8%;
        transform: scale(1.75);
    }
    62% {
        right: 83.8%;
        bottom: 14.2%;
        transform: scale(2.2);
        filter: blur(0);
    }
    80% {
        right: 112%;
        bottom: -8%;
        transform: scale(4);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
    }
    100% {
        right: 132%;
        bottom: -29%;
        transform: scale(7);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
    }
}

/* .closer-character-vr1 {
    right: 20.7%;
    bottom: 9.9%;
    transform: scale(0);
    filter: blur(0);
}
.closer-character-vr2 {
    right: 27%;
    bottom: 19.4%;
    transform: scale(0.75);
}
.closer-character-vr3 {
    right: 31.3%;
    bottom: 20.4%;
    transform: scale(0.8);
}
.closer-character-vr4 {
    right: 37%;
    bottom: 21.5%;
    transform: scale(0.85);
}
.closer-character-vr5 {
    right: 42.2%;
    bottom: 22%;
    transform: scale(0.95);
}
.closer-character-vr6 {
    right: 49.1%;
    bottom: 22.2%;
    transform: scale(1.15);
}
.closer-character-vr7 {
    right: 57.6%;
    bottom: 21.4%;
    transform: scale(1.4);
}
.closer-character-vr8 {
    right: 68.9%;
    bottom: 18.8%;
    transform: scale(1.75);
}
.closer-character-vr9 {
    right: 83.8%;
    bottom: 14.2%;
    transform: scale(2.2);
    filter: blur(0);
}
.closer-character-vr10 {
    right: 112%;
    bottom: -8%;
    transform: scale(4);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
}
.closer-character-vr11 {
    right: 132%;
    bottom: -29%;
    transform: scale(7);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
} */

@keyframes closer-walking-right-route {
    0% {
        right: 20.2%;
        bottom: 9.7%;
        transform: scale(0);
        filter: blur(0);
    }
    0.6% {
        right: 25%;
        bottom: 18.6%;
        transform: scale(0.75);
    }
    7% {
        right: 29.1%;
        bottom: 19.6%;
        transform: scale(0.8);
    }
    13.5% {
        right: 34.4%;
        bottom: 20.6%;
        transform: scale(0.85);
    }
    20% {
        right: 39.2%;
        bottom: 20.9%;
        transform: scale(0.95);
    }
    30.5% {
        right: 46%;
        bottom: 21.1%;
        transform: scale(1.15);
    }
    41% {
        right: 54.4%;
        bottom: 20%;
        transform: scale(1.4);
    }
    51.5% {
        right: 65.2%;
        bottom: 17.6%;
        transform: scale(1.75);
    }
    62% {
        right: 79.4%;
        bottom: 13.2%;
        transform: scale(2.2);
        filter: blur(0);
    }
    80% {
        right: 109%;
        bottom: -8%;
        transform: scale(4);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
    }
    100% {
        right: 129%;
        bottom: -29%;
        transform: scale(7);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
    }
}

/* .closer-character-r1 {
    right: 20.2%;
    bottom: 9.7%;
    transform: scale(0);
    filter: blur(0);
}
.closer-character-r2 {
    right: 25%;
    bottom: 18.6%;
    transform: scale(0.75);
}
.closer-character-r3 {
    right: 29.1%;
    bottom: 19.6%;
    transform: scale(0.8);
}
.closer-character-r4 {
    right: 34.4%;
    bottom: 20.6%;
    transform: scale(0.85);
}
.closer-character-r5 {
    right: 39.2%;
    bottom: 20.9%;
    transform: scale(0.95);
}
.closer-character-r6 {
    right: 46%;
    bottom: 21.1%;
    transform: scale(1.15);
}
.closer-character-r7 {
    right: 54.4%;
    bottom: 20%;
    transform: scale(1.4);
}
.closer-character-r8 {
    right: 65.2%;
    bottom: 17.6%;
    transform: scale(1.75);
}
.closer-character-r9 {
    right: 79.4%;
    bottom: 13.2%;
    transform: scale(2.2);
    filter: blur(0);
}
.closer-character-r10 {
    right: 109%;
    bottom: -8%;
    transform: scale(4);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
}
.closer-character-r11 {
    right: 129%;
    bottom: -29%;
    transform: scale(7);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
} */

@keyframes closer-walking-middle-route {
    0% {
        right: 19.9%;
        bottom: 9.5%;
        transform: scale(0);
        filter: blur(0);
    }
    0.6% {
        right: 23%;
        bottom: 18%;
        transform: scale(0.75);
    }
    7% {
        right: 26.9%;
        bottom: 18.8%;
        transform: scale(0.8);
    }
    13.5% {
        right: 31.8%;
        bottom: 19.8%;
        transform: scale(0.85);
    }
    20% {
        right: 36.3%;
        bottom: 20%;
        transform: scale(0.95);
    }
    30.5% {
        right: 42.9%;
        bottom: 20.1%;
        transform: scale(1.15);
    }
    41% {
        right: 51.2%;
        bottom: 18.8%;
        transform: scale(1.4);
    }
    51.5% {
        right: 61.3%;
        bottom: 16.8%;
        transform: scale(1.75);
    }
    62% {
        right: 75%;
        bottom: 12.2%;
        transform: scale(2.2);
        filter: blur(0);
    }
    80% {
        right: 98%;
        bottom: -8.5%;
        transform: scale(4);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
    }
    100% {
        right: 124%;
        bottom: -28.5%;
        transform: scale(7);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
    }
}

/* .closer-character-c1 {
    right: 19.9%;
    bottom: 9.5%;
    transform: scale(0);
    filter: blur(0);
}
.closer-character-c2 {
    right: 23%;
    bottom: 18%;
    transform: scale(0.75);
}
.closer-character-c3 {
    right: 26.9%;
    bottom: 18.8%;
    transform: scale(0.8);
}
.closer-character-c4 {
    right: 31.8%;
    bottom: 19.8%;
    transform: scale(0.85);
}
.closer-character-c5 {
    right: 36.3%;
    bottom: 20%;
    transform: scale(0.95);
}
.closer-character-c6 {
    right: 42.9%;
    bottom: 20.1%;
    transform: scale(1.15);
}
.closer-character-c7 {
    right: 51.2%;
    bottom: 18.8%;
    transform: scale(1.4);
}
.closer-character-c8 {
    right: 61.3%;
    bottom: 16.8%;
    transform: scale(1.75);
}
.closer-character-c9 {
    right: 75%;
    bottom: 12.2%;
    transform: scale(2.2);
    filter: blur(0);
}
.closer-character-c10 {
    right: 98%;
    bottom: -8.5%;
    transform: scale(4);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
}
.closer-character-c11 {
    right: 124%;
    bottom: -28.5%;
    transform: scale(7);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
} */

@keyframes closer-walking-left-route {
    0% {
        right: 19.5%;
        bottom: 9.4%;
        transform: scale(0);
        filter: blur(0);
    }
    0.6% {
        right: 21%;
        bottom: 17.2%;
        transform: scale(0.75);
    }
    7% {
        right: 24.5%;
        bottom: 18%;
        transform: scale(0.8);
    }
    13.5% {
        right: 29.1%;
        bottom: 18.6%;
        transform: scale(0.85);
    }
    20% {
        right: 33.4%;
        bottom: 18.7%;
        transform: scale(0.95);
    }
    30.5% {
        right: 39.8%;
        bottom: 18.9%;
        transform: scale(1.15);
    }
    41% {
        right: 47.8%;
        bottom: 17.6%;
        transform: scale(1.4);
    }
    51.5% {
        right: 57.5%;
        bottom: 15.8%;
        transform: scale(1.75);
    }
    62% {
        right: 70.4%;
        bottom: 11.2%;
        transform: scale(2.2);
        filter: blur(0);
    }
    80% {
        right: 88%;
        bottom: -9%;
        transform: scale(4);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
    }
    100% {
        right: 121%;
        bottom: -30%;
        transform: scale(7);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
    }
}

/* .closer-character-l1 {
    right: 19.5%;
    bottom: 9.4%;
    transform: scale(0);
    filter: blur(0);
}
.closer-character-l2 {
    right: 21%;
    bottom: 17.2%;
    transform: scale(0.75);
}
.closer-character-l3 {
    right: 24.5%;
    bottom: 18%;
    transform: scale(0.8);
}
.closer-character-l4 {
    right: 29.1%;
    bottom: 18.6%;
    transform: scale(0.85);
}
.closer-character-l5 {
    right: 33.4%;
    bottom: 18.7%;
    transform: scale(0.95);
}
.closer-character-l6 {
    right: 39.8%;
    bottom: 18.9%;
    transform: scale(1.15);
}
.closer-character-l7 {
    right: 47.8%;
    bottom: 17.6%;
    transform: scale(1.4);
}
.closer-character-l8 {
    right: 57.5%;
    bottom: 15.8%;
    transform: scale(1.75);
}
.closer-character-l9 {
    right: 70.4%;
    bottom: 11.2%;
    transform: scale(2.2);
    filter: blur(0);
}
.closer-character-l10 {
    right: 88%;
    bottom: -9%;
    transform: scale(4);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
}
.closer-character-l11 {
    right: 121%;
    bottom: -30%;
    transform: scale(7);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
} */

@keyframes closer-walking-very-left-route {
    0% {
        right: 19.15%;
        bottom: 9.1%;
        transform: scale(0);
        filter: blur(0);
    }
    0.6% {
        right: 19%;
        bottom: 16.4%;
        transform: scale(0.75);
    }
    7% {
        right: 22.3%;
        bottom: 17.3%;
        transform: scale(0.8);
    }
    13.5% {
        right: 26%;
        bottom: 17.5%;
        transform: scale(0.85);
    }
    20% {
        right: 30.5%;
        bottom: 17.8%;
        transform: scale(0.95);
    }
    30.5% {
        right: 36.7%;
        bottom: 17.9%;
        transform: scale(1.15);
    }
    41% {
        right: 44.4%;
        bottom: 16.6%;
        transform: scale(1.4);
    }
    51.5% {
        right: 53.7%;
        bottom: 14.8%;
        transform: scale(1.75);
    }
    62% {
        right: 66%;
        bottom: 10.4%;
        transform: scale(2.2);
        filter: blur(0);
    }
    80% {
        right: 80%;
        bottom: -9%;
        transform: scale(4);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
    }
    100% {
        right: 120%;
        bottom: -30%;
        transform: scale(7);
        filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
    }
}

/* .closer-character-vl1 {
    right: 19.15%;
    bottom: 9.1%;
    transform: scale(0);
    filter: blur(0);
}
.closer-character-vl2 {
    right: 19%;
    bottom: 16.4%;
    transform: scale(0.75);
}
.closer-character-vl3 {
    right: 22.3%;
    bottom: 17.3%;
    transform: scale(0.8);
}
.closer-character-vl4 {
    right: 26%;
    bottom: 17.5%;
    transform: scale(0.85);
}
.closer-character-vl5 {
    right: 30.5%;
    bottom: 17.8%;
    transform: scale(0.95);
}
.closer-character-vl6 {
    right: 36.7%;
    bottom: 17.9%;
    transform: scale(1.15);
}
.closer-character-vl7 {
    right: 44.4%;
    bottom: 16.6%;
    transform: scale(1.4);
}
.closer-character-vl8 {
    right: 53.7%;
    bottom: 14.8%;
    transform: scale(1.75);
}
.closer-character-vl9 {
    right: 66%;
    bottom: 10.4%;
    transform: scale(2.2);
    filter: blur(0);
}
.closer-character-vl10 {
    right: 80%;
    bottom: -9%;
    transform: scale(4);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 1.5));
}
.closer-character-vl11 {
    right: 120%;
    bottom: -30%;
    transform: scale(7);
    filter: blur(calc(var(--WALKING-CHARACTERS-character-walking-blurring-step) * 2));
} */

/* MEDIA QUERIES */
@media screen and (max-width: 81.25rem) { /* 1300px */
    .walking-characters,
    .walking-characters__wrapper {
        aspect-ratio: 16 / 12;
    }
    .walking-characters__closer-hills-and-lane {
        width: 156%;
        left: -37%;
        bottom: -10%;
    }
    .walking-characters__further-hills-and-lane {
        width: 75%;
        right: -5%;
        bottom: -10%;
    }
    .walking-characters__sky {
        width: 178%;
        left: -34%;
        top: -4%;
    }
    .walking-characters__mountains {
        width: 80%;
        right: -14%;
        top: 34%;
    }
    .walking-characters__bush-and-board {
        width: 36%;
        right: 0;
        bottom: -2%;
    }
    .walking-characters__sun {
        top: 170%;
    }
    .walking-characters__sun-image.precedence {
        width: 6.5%;
    }
    :root {
        --WALKING-CHARACTERS-sun-moving-animation-duration: 11000;
    }
}