@font-face {
  font-family: 'The Bold Font';
  src: url('TheBoldFont-Bold.eot');
  src: local('TheBoldFont-Bold'), url('TheBoldFont-Bold.eot?#iefix') format('embedded-opentype'),
    url('TheBoldFont-Bold.woff2') format('woff2'), url('TheBoldFont-Bold.woff') format('woff'),
    url('TheBoldFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
