@font-face {
  font-family: 'Copasetic NF';
  src: url('./CopaseticNF-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Copasetic NF';
  src: url('./CopaseticNF.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}